# Jupyter
ipykernel
notebook

# LangGraph
langgraph

# LangChain
langchain
langchain-core
langchain-community
langchain-google-genai

# LLM Providers (we'll use these later)
langchain-groq
langchain-openai
# Vector Stores & Embeddings
faiss-cpu


# Utilities
python-dotenv
pydantic

# Data Handling
pandas
numpy
pypdf

# Notebook Progress Bars
ipywidgets
typing_extensions

# Streamlit
streamlit
