# Jupyter
ipykernel
notebook

# LangGraph
langgraph

# LangChain
langchain
langchain-core
langchain-community
langchain-cohere

langchain-google-genai>=2.1.0
google-generativeai>=0.8.5

# LLM Providers
langchain-groq
langchain-openai
# Vector Stores & Embeddings
faiss-cpu


# Utilities
python-dotenv
pydantic

# Data Handling
pandas
numpy
pypdf

# Notebook Progress Bars
ipywidgets
typing_extensions

# Streamlit
streamlit
